.events {
    background-color: white;
    display: flex;
    flex-direction: column;
    margin: 10px 60px 60px 60px;
    padding: 0px 40px 40px 40px;
    border-radius: 12px;
    align-items: center;
}
.eventCards{
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    gap: 80px 460px;
    padding:20px 0px
}

@media screen and (max-width:920px) {
    .eventCards {
        display: grid;
        grid-template-columns: 1fr;
        gap: 70px 80px;
        padding: 10px 0px
    }
    .events {
        background-color: white;
        display: flex;
        flex-direction: column;
        margin: 5px 15px 40px 15px;
        padding: 0px 20px 20px 20px;
        border-radius: 12px;
        align-items: center;
    }
}

@media screen and (max-width:1430px) {
    .eventCards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 70px 420px;
        padding: 20px 0px
    }
    .events {
        margin:10px 36px 60px 36px;
    }
}
@media screen and (max-width:1320px) {
    .eventCards {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 70px 420px;
    }
    .events {
        margin: 10px 24px 60px 24px;
    }
}
@media screen and (max-width:1270px) {
    .eventCards {
        grid-template-columns: 1fr 1fr;
        gap: 70px 450px;
    }
}
@media screen and (max-width:980px) {
    .eventCards {
        grid-template-columns: 1fr 1fr;
        gap: 60px 380px;
    }.events {
        margin: 10px 20px 60px 20px;
    }
}
@media screen and (max-width:760px){
    .eventCards {
        grid-template-columns: 1fr 1fr;
        gap: 60px 350px;
    }
}
@media screen and (max-width:720px){
    .eventCards {
        grid-template-columns: 1fr;
        gap: 70px 350px;
        margin-top: 8px;
    }
}
@media screen and (max-width:500px){
    .events{
        margin: 5px 10px 40px 10px;
        padding: 0px 5px 20px 5px;
    }
    .eventCards{
        gap: 60px 0px;
    }
}
@media screen and (max-width:400px){
    .events{
        margin: 5px 5px 40px 5px;
        padding: 0px 5px 20px 5px;
    }
    .eventCards {
        gap: 60px 0px;
    }
}