.events {
    background-color: white;
    display: flex;
    flex-direction: column;
    margin: 0px 60px 60px 60px;
    padding: 0px 40px 40px 40px;
    border-radius: 12px;
    align-items: center;
}
.eventCards{
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    gap: 50px 80px;
    padding:20px 0px
}

@media screen and (max-width:920px) {
    .eventCards {
        display: grid;
        grid-template-columns: 1fr;
        gap: 50px 80px;
        padding: 20px 0px
    }
    .events {
        background-color: white;
        display: flex;
        flex-direction: column;
        margin: 0px 30px 40px 30px;
        padding: 0px 20px 20px 20px;
        border-radius: 12px;
        align-items: center;
    }
}

@media screen and (min-width:920px) and (max-width:1340px) {
    .eventCards {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 50px 60px;
        padding: 20px 0px
    }
}
@media screen and (max-width:500px){
    .events{
        margin: 0px 5px 40px 5px;
        padding: 0px 5px 20px 5px;
    }
}