@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap'); */
 /* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 237,255,250;
  --background-end-rgb: 255, 255, 255;
} */
/*
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}*/

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}  */

body{
  /* font-family: 'Barlow', sans-serif; */
  /* background-color: rgb(235, 235, 235); */
  background-color: #eeecec;
  margin-top: 10px;
  /* font-family: 'Rubik', sans-serif; */
}

@media only screen and (max-width:830px){
  body{
    -webkit-tap-highlight-color: transparent;
  }
}